/*ALL*/
@import 'layout/container';

/*HEADER*/
@import 'layout/header';

/*HERO*/
@import 'layout/hero';

/*SECTION INTRODUCTION*/
@import 'layout/introduction';

/*3 reasons*/
@import 'layout/_reasons.scss';


/*FOOTER*/
@import 'layout/footer';
