/*ALL*/
* {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: pink;
}


/*HEADER*/
.page__header{
  position: fixed;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
}
.menu__button{
  background-color: #0271bc;
  text-decoration: none;
  border: none;
}
.menu__button:hover{
  text-decoration: none;
  border: none;
}
.menu__button:visited{
  text-decoration: none;
  border: none;
}
.menu__icon{
  margin: 14px;
}

/*HERO*/
.page__hero {
  min-height: 100vh;
  background: url('../images/cover.jpg') center center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.tittle-description{
  transform: translateY(-50%);
}

.hero__tittle{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
}

.hero__description{
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
}

.hero__button-container{
  margin-bottom: 50px;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-scroll-down{
  text-decoration: none;
}
.link-scroll-down:hover{
  text-decoration: none;
}
.link-scroll-down:visited{
  text-decoration: none;
}

/*SECTION MAIN INTRODUCTION*/
.page__introduction {
  background-color: lightblue;
}
.introduction-container {
  background-color: yellow;
  text-align: left;
  line-height: 30px;
}

.introduction__text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #8ccbea;
  text-transform: capitalize;
}

.introduction__tittle{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.introduction__paragraph{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 300;
}
.container-link {
  background-color: #ffffff;
  border: solid 2px #f26002;
  border-radius: 22px;
  width: 76px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-go{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #f26002;
  text-decoration: none;
}
.link-go:hover{
  text-decoration: none;
}
.link-go:visited{
  text-decoration: none;
}
/*3 reasons*/
.page__reasons {
  background-color: orange;
  text-align: center;
}
.reasons__list {
  list-style: none;
}
.reasons__tittle{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: bold;
}
.list__item__tittle{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: bold;
}
.list__item__paragraph{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 300;
}
.list__item {
  margin:45px 0px;
}
.list__item:nth-child{
  margin: none;
}
.button__more-reasons{
  text-decoration: none;
}
.button__more-reasons:hover{
    text-decoration: none;
  }
.button__more-reasons:visited{
    text-decoration: none;
  }
.button__more-reasons{
  width: 184px;
  height: 45px;
  background-color: #f26002;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-weight: 300px;
  font-size: 20px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/*FOOTER*/

.page__footer{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #304268;
}
.link-scroll-up__container{
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  margin: auto;
}
/*nav*/
.nav__menu {
  list-style: none;
  line-height: 30px;
}
.link-menu{
  text-decoration: none;
  color: #ffffff;
}
.link-menu:hover{
  text-decoration: none
}
.link-menu:visited{
  text-decoration: none;
}
/*social media*/
.footer__social-media-list{
  list-style: none;
  line-height: 30px;
  margin: 30px 0px;
}
.link-social-media{
  text-decoration: none;
  color: #ffffff;
}
.link-social-media:hover{
  text-decoration: none;
}
.link-social-media:visited{
  text-decoration: none;
}
.heart{
  color: #f26002;
}

.copy-text__container{
    text-transform: lowercase;
    color: #ffffff;
    line-height: 30px;
}
