/*ALL*/
* {
  margin: 0px;
  padding: 0px;
}


/*HEADER*/
.page__header{
  position: fixed;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
}
.menu__button{
  background-color: #0271bc;
  text-decoration: none;
}
.menu__button:hover{
  text-decoration: none;
}
.menu__button:visited{
  text-decoration: none;
}
.menu__icon{
  margin: 14px;
}

/*HERO*/
.hero {
  min-height: 100vh;
  background: url('../images/cover.jpg') center center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.tittle-description{
  transform: translateY(-50%);
}

.hero__tittle{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
}

.hero__description{
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
}

.hero__button-container{
  margin-bottom: 50px;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__button-container .link{
  text-decoration: none;
}
.hero__button-container .link:hover{
  text-decoration: none;
}
.hero__button-container .link:visited{
  text-decoration: none;
}

/*SECTION MAIN INTRODUCTION*/
.introduction-container {
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: left;
  line-height: 30px;
}

.introduction__text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #8ccbea;
  text-transform: capitalize;
}

.introduction__tittle{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.introduction__paragraph{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 300;
}
.container-link {
  background-color: #ffffff;
  border: solid 2px #f26002;
  border-radius: 22px;
  width: 76px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 45px 0;
}
.container-link .link {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #f26002;
  text-decoration: none;
}
.container-link .link:hover{
  text-decoration: none;
}
.container-link .link:visited{
  text-decoration: none;
}

