/*ALL*/
* {
  margin: 0px;
  padding: 0px;
}


/*HEADER*/
.page__header{
  position: fixed;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  background-color: #0271bc;
  width: 44px;
  height: 44px;
}
.menu__icon{
  margin: 14px;
}

/*HERO*/
.main__hero {
  min-height: 100vh;
  background: url('../images/cover.jpg') center center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__tittle{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
}
.hero__description{
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
}
