<footer class="page__footer">
  <a class="link link-scroll-up" href="#hero__section">
    <div class="link-scroll-up__container">
      <img class="footer__icon"
      src="assets/images/ico-arrow.svg"
      alt="ícono de scroll">
      </div>
    </a>

<div class="central__column">
<!--menu-->
  <nav class="footer__nav">
      <ul class="nav__menu">
          <li class="menu__item"><a href="#"class="link link-menu">articles</a></li>
          <li class="menu__item"><a href="#" class="link link-menu">books</a></li>
          <li class="menu_-item"><a href="#" class="link link-menu">events</a></li>
          <li class="menu__item"><a href="#" class="link link-menu">reasons</a></li>
          <li class="menu__item"><a href="#" class="link link-menu">tips</a></li>
        </ul>
    </nav>
<!--social media-->
      <ul class="footer__social-media-list">
        <li class="social-media-list__item"><a href="#" class="link link-social-media">twitter</a></li>
        <li class="social-media-list__item"><a href="#" class="link link-social-media">instagram</a></li>
        <li class="social-media-list"><a href="#" class="link link-social-media">mastodon-social</a></li>
      </ul>
<!--copyright-->
      <div class="copy-text__container">
        <p class="copyright">©2017</p>
        <p class="final-text">we <span class="heart">❤︎</span>components</p>
        </div>

</div>
</footer>
