<section class="page__introduction" id="principal__section">
  <div class="central__column">

  <div class="introduction-container">
      <p class="introduction__text">insomnia tips</p>
    <h2  class="introduction__tittle">looking through a window</h2>
      <p class="introduction__paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <a class="link link-go" href="#">
        <div class="container-link">
            Go
        </div>
      </a>
  </div>

  </div>
</section>
