<section class="page__reasons">
  <div class="central__column">

    <h2 class="reasons__tittle">3 Reasons To Purchase</h2>
      <ul class="reasons__list">
        <li class="list__item">
          <div class="reason1">
            <h3 class="list__item__tittle">Ut sed metus</h3>
              <p class="list__item__paragraph">Lorem ipsum dolor sit amet, consecteur.</p>
          </div>
        </li>

        <li class="list__item">
          <div class="reason2">
            <h3 class="list__item__tittle">Curabitur ac erat</h3>
              <p class="list__item__paragraph">Mauris mattis urna quis lorem molestie.</p>
          </div>
       </li>

        <li class="list__item">
        <div class="reason3">
          <h3 class="list__item__tittle">Morbi dictum</h3>
            <p class="list__item__paragraph">Aliquam in dolor et dolor tincidunt.</p>
        </div>
        </li>
      </ul>
  <button type="button" class="button__more-reasons">More reasons</button>

  </div>
</section>
