<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Adalab Evaluación</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

  <header class="page__header">
      <img class="menu__icon" src="assets/images/ico-menu.svg" alt="menu">
  </header>

  <main class="page__main">

    <section class="main__hero">
       <h1 class="hero__tittle">anonymus proxy</h1>
        <p class="hero__description">In hac habitasse platea dictumst.</p>
        <div class="button hero__button"></div>
    </section>


</main>
</body>
</html>
