<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Adalab Evaluación</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<header class="page__header">
   <button class="page__menu"></button>
</header>
<main class="page__main">
<section class="main__hero">
  <img=
  class="hero__img"
  alt="fotografía panorámica de la ciudad"
  href="">
  <h1 class="hero__tittle">anonymus proxy</h1>
  <p class="hero__tittle">In hac habitasse platea dictumst.</p>
  <div class="button hero__button"></div>
</section>


</main>
</body>
</html>
