<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Adalab Evaluación</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

  <header class="page__header">
      <button type="button" class="menu__button">
      <img class="menu__icon" src="assets/images/ico-menu.svg" alt="menu">
      </button>
  </header>

  <main class="page__main">

    <section class="hero">
       <h1 class="hero__tittle">anonymus proxy</h1>
        <p class="hero__description">In hac habitasse platea dictumst.</p>
        <div class="hero__button-container">
          <a class="link" href="#">
            <img class="hero__button" src="assets/images/ico-scroll-down.svg" alt="botón de scroll">
          </a>
        </div>
    </section>


</main>
</body>
</html>
