* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.central__column{
  margin: 0 15px;
    @media all and(min-width: 768px){
    margin: 0 39px;
    }
    @media all and(min-width: 1280px){
    margin: 0 auto;
    width: 730px;
    }
}
@media all and (min-width: 1280px){
.page__reasons .central__column{
  width: 1120px;
}
}
