* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.central__column{
  margin: 0 15px;
    @media all and(min-width: 768px){
    margin: 0 40px;
    }
    @media all and(min-width: 1200px){
    margin: 0 auto;
    width: 1040px;
    }
}
