
.page__footer{
  text-align: center;
  text-transform: uppercase;
  font-family: $fontText;
  font-size: $fontSizeMenu;
  background-color: #304268;
  padding-bottom: 45px;
}
.link-scroll-up__container{
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  margin: auto;
}

/*nav*/
.nav__menu {
  list-style: none;
  line-height: 30px;
}

.link-menu{
  text-decoration: none;
  color: #ffffff;
    &:hover{
    text-decoration: none
    }
    &:visited{
    text-decoration: none;
    }
  }

/*social media*/
.footer__social-media-list{
  list-style: none;
  line-height: 30px;
  margin: 30px 0px;
}

.link-social-media{
  text-decoration: none;
  color: #ffffff;
    &:hover{
  text-decoration: none;
    }
    &:visited{
    text-decoration: none;
    }
  }

.heart{
  color: #f26002;
}

.copy-text__container{
    text-transform: lowercase;
    font-size: $fontSizeSmall;
    color: #ffffff;
    line-height: 30px;
}

@media all and (min-width: 768px){
.menu-social__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.copy-text__container{
  order: -1;
}
.footer__social-media-list{
  margin: 0;
}
}
