
.page__footer{
  text-align: center;
  text-transform: uppercase;
  font-family: $fontText;
  font-size: $fontSizeMenu;
  background-color:$background-footer;
  padding-bottom: 45px;
}

.link-scroll-up__container{
  background-color: $white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  margin: auto;
  transition: transform ease 0.2s;
  &:hover{
    transform: translateY(-60%) rotate(-360deg) scale(1.1);
  }
}

/*nav*/
.nav__menu {
  list-style: none;
  line-height: 30px;
}

.link-menu{
  text-decoration: none;
  color: $white;
  &:hover{
  text-decoration: none
  }
  &:visited{
  text-decoration: none;
  }
}

/*social media*/
.footer__social-media-list{
  list-style: none;
  line-height: 30px;
  margin: 30px 0px;
}

.link-social-media{
  text-decoration: none;
  color: $white;
  &:hover{
  text-decoration: none;
  }
  &:visited{
  text-decoration: none;
  }
}

.heart{
  color: $orange;
}
.copy-text__container{
    text-transform: lowercase;
    font-size: $fontSizeSmall;
    color: $white;
    line-height: 30px;
}

@media all and (min-width: 768px){
.page__footer .central__column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
.copy-text__container{
  order: -1;
}
.footer__social-media-list{
  margin: 0;
}
}
