.page__header{
  position: fixed;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
}

.menu__button{
  background-color:$color-menu-button;
  text-decoration: none;
  border: none;
  &:hover{
    text-decoration: none;
    border: none;
  }
  &:visited{
  text-decoration: none;
  border: none;
}
}

.menu__icon{
  margin: 14px;
}
