.hero {
  min-height: 100vh;
  background: url('../images/cover.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.tittle-description{
  transform: translateY(-50%);
}

.hero__tittle{
  text-align: center;
  text-transform: uppercase;
  font-family: $fontTittle;
  font-size: $fontSizeH1;
  font-weight: bold;
  color: $white;
  text-align: center;
  width: 250px;
    @media all and (min-width: 768px){
      font-size: 80px;
      width: 500px;
  }
    @media all and(min-width: 1280px){
      font-size: 100px;
      width: 600px;
  }
}

.hero__description{
  text-align: center;
  font-family: $fontText;
  font-size: 16px;
  font-weight: normal;
  color: $white;
    @media all and (min-width: 768px){
    font-size: 24px;
  }
}

.hero__button-container{
  margin-bottom: 50px;
  background-color: $white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-scroll-down{
  text-decoration: none;
    &:hover{
    text-decoration: none;
    transform: scale(1.1);
  }
    &:visited{
    text-decoration: none;
  }
}
