.introduction-container {
  text-align: left;
  line-height: 30px;
  background-color: $white;
  margin: 30px 0 45px;
}

.introduction__text{
  font-family: $fontText;
  font-size: $fontSizeSmall;
  color: $color-small-text-intro;
  text-transform: capitalize;
  @media all and(min-width: 1200px){
    font-size: 16px;
  }
}

.introduction__tittle{
  font-family: $fontTittle;
  font-size: $fontSizeH2;
  font-weight: bold;
  text-transform: capitalize;
  @media all and(min-width: 768px){
    font-size: 26px;
  }
  @media all and(min-width: 1200px){
    font-size: 32px;
  }
}

.introduction__paragraph{
  font-family: $fontText;
  font-size: $fontSizeText;
  font-weight: 300;
  margin-top: 15px;
  @media all and(min-width:768px){
    font-size: 20px;
  }
}
.container-link {
  background-color: $white;
  border: solid 2px $orange;
  border-radius: 22px;
  width: 76px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
    &:hover{
      transform: scale(1.1);
    }
    @media all and(min-width: 768px){
      width: 91px;
    }
    @media all and(min-width: 1200px){
      width: 160px;
}
}

.link-go{
  font-family: $fontText;
  font-size: 20px;
  color: $orange;
  text-decoration: none;
    &:hover{
    text-decoration: none;
    }
    &:visited{
    text-decoration: none;
  }
}
