.page__reasons {
  background-color:#eff9ff;
  text-align: center;
  padding: 30px 0 60px;
}
.reasons__list {
  list-style: none;
}
.reasons__tittle{
  font-family: $fontTittle;
  font-size: $fontSizeH2;
  font-weight: bold;
  @media all and(min-width: 768px){
    font-size: 26px;
  }
  @media all and(min-width: 1200px){
  font-size: 32px;
}
}

.list__item__tittle{
  font-family: $fontTittle;
  font-size: $fontSizeText;
  font-weight: bold;
  @media all and (min-width: 768px){
    font-size: 24px;
  }
}

.list__item__paragraph{
  font-family: $fontText;
  font-size: $fontSizeText;
  font-weight: 300;
  @media all and (min-width: 768px){
    font-size: 20px;
  }
}

.list__item {
  margin:45px 0px;
  @media all and(min-width: 768px){
    margin: none;
  }
}
.list__item:nth-child{
  margin: none;
}
.button__more-reasons{
  text-decoration: none;
  border: none;
}
.button__more-reasons:hover{
    text-decoration: none;
    border: none;
  }
.button__more-reasons:visited{
    text-decoration: none;
    border: none;
  }
.button__more-reasons{
  width: 184px;
  height: 45px;
  background-color: #f26002;
  color: #ffffff;
  font-family: $fontText;
  font-weight: 300px;
  font-size: 20px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
    &:hover{
      transform: scale(1.1);
  }
  @media all and (min-width: 768px){
    width: 210px;
  }
  @media all and (min-width: 1200px){
    width: 255px;
}
}

@media all and(min-width: 768px){
  .reasons__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 28px;
  }
  .reason1 .list__item__tittle{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .reason1 .list__item__paragraph{
  grid-column: 1/2;
  grid-row: 2/3;
  }

  .reason2 .list__item__tittle{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .reason2 .list__item__paragraph{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .reason3 .list__item__tittle{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .reason3 .list__item__paragraph{
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
