.page__reasons {
  background-color:$background-reasons;
  text-align: center;
  padding: 30px 0 60px;
}
.reasons__list {
  list-style: none;
}

.reasons__tittle{
  font-family: $fontTittle;
  font-size: $fontSizeH2;
  font-weight: bold;
  @media all and(min-width: 768px){
    font-size: 26px;
  }
  @media all and(min-width: 1280px){
  font-size: 32px;
  }
}

.list__item__tittle{
  font-family: $fontTittle;
  font-size: $fontSizeText;
  font-weight: bold;
  @media all and (min-width: 768px){
    font-size: 24px;
  }
}

.list__item__paragraph{
  font-family: $fontText;
  font-size: $fontSizeText;
  font-weight: 300;
  @media all and (min-width: 768px){
    font-size: 20px;
  }
}

.list__item {
  margin:45px 0px;
  @media all and(min-width: 768px){
    margin: none;
  }
}
.list__item:nth-child{
  margin: none;
}

.button__more-reasons{
  text-decoration: none;
  border: none;
  width: 184px;
  height: 45px;
  background-color: $orange;
  color: $white;
  font-family: $fontText;
  font-weight: 300px;
  font-size: 20px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
    &:hover{
      transform: scale(1.1);
      text-decoration: none;
      border: none;
  }
    &:visited{
    text-decoration: none;
    border: none;
  }
  @media all and (min-width: 768px){
    width: 210px;
  }
  @media all and (min-width: 1280px){
    width: 255px;
}
}

@media all and(min-width: 768px){
  .reasons__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 28px;
  }
  .list__item .reason1{
    grid-column: 1/2;
  }

  .list__item .reason2{
    grid-column: 2/3;
  }

  .list__item .reason3{
    grid-column: 3/4;
  }
}
