$color-menu-button: #0271bc;
$color-h2: #000000;
$color-text-introduction: #4a4a4a;
$color-small-text-intro: #8ccbea;
$background-reasons: #eff9ff;
$background-footer: #304268;
$orange: #f26002;
$white: #ffffff;
